<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body style="background-color: yellow; color: blue">

        {% for person in persons %}
            <ul>
                <li>{{ person.first_name }} {{ person.last_name }} , {{ person.age }} anos</li>
            </ul>
        {% endfor %}

    </body>

</html>